<aside id="sidebar" aria-label="sidebar">
    <img class="pic" alt="Jasmine Hirpara" width="230" height="230" src="/assets/img/jh.jpg">
	<svg width="230" height="38" viewBox="0 0 230 38" xmlns="http://www.w3.org/2000/svg"  aria-labelledby="svgTitle svgDesc">
		<title id="svgTitle">Jasmine Hirpara</title>
		<desc id="svgDesc">An animated gradient text mask displaying the author's name Jasmine Hirpara</desc>
		<defs>
			<mask id="text-mask" x="0" y="0" width="100" height="100">
				<text x="2" y="26" 
					font-family="Montserrat"
					font-weight="bold"
					font-style="italic"
					font-size="1.5rem"
					fill="#fff">Jasmine Hirpara
				</text>
			</mask>
		  	<linearGradient id="gradient" x1="0" x2=".5" y1=".01" y2="0">
				<stop offset="0" stop-color="#fdf1cb"></stop>
        		<stop offset="0" stop-color="#eca9bb"></stop>
        		<stop offset="1" stop-color="#ed73a8"></stop>
				<animate attributeName="x1"
                from="0" to="1" repeatCount="indefinite" dur="5s"/>
			</linearGradient>
		</defs>
		<rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#text-mask)">
		</rect>
	</svg>
	<nav>
		<ul>
			{% for item in site.data.navigation %}
			<li>
				<a href="{{ item.url }}"
					class="{% if page.url == item.url %}active{% endif %}">
					{% if page.url == item.url %}<span class="angle">&lt;</span>{% endif %}
					<i class="fa-fw fas {{ item.icon }}"></i>
					{{ item.name }}
					{% if page.url == item.url %}<span class="angle">/&gt;</span>{% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
    </nav>

	<div class="social">
		<a href="https://github.com/jazzominy" title="Github" class="social-link" target="_blank" aria-label="github">
			<i class="fab fa-github"></i>
		</a>
		<a href="mailto:jasmine758@rediffmail.com" title="Email" class="social-link" aria-label="email">
			<i class="fas fa-envelope"></i>
		</a>
</aside>
