<aside id="sidebar" aria-label="sidebar">
    <img class="pic" alt="Jasmine Hirpara" width="230" height="230" src="/assets/img/jh.jpg">
    <div class="name">Jasmine Hirpara</div>
	<nav>
		<ul>
			{% for item in site.data.navigation %}
			<li>
				<a href="{{ item.url }}"
					class="{% if page.url == item.url %}active{% endif %}">
					{% if page.url == item.url %}<span class="angle">&lt;</span>{% endif %}
					<i class="fa-fw fas {{ item.icon }}"></i>
					{{ item.name }}
					{% if page.url == item.url %}<span class="angle">/&gt;</span>{% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
    </nav>

	<div class="social">
		<a href="https://github.com/jazzominy" title="Github" class="social-link" target="_blank" aria-label="github">
			<i class="fab fa-github"></i>
		</a>
		<a href="mailto:jasmine758@rediffmail.com" title="Email" class="social-link" aria-label="email">
			<i class="fas fa-envelope"></i>
		</a>
</aside>