article.post {
    margin-right: 0.625rem;
    margin-bottom: 2rem;
    padding: 2.5rem;
    border: 0.1rem solid #cccccc5c;
    border-radius: 1rem;
    background-color: var(--post-bg);
    color: var(--post-text);

    .post-header {
        text-align: center;
        margin-bottom: 3rem;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            margin: 1.5rem;
            color: var(--post-title);
        }

        time {
            font-size: 1rem;
            font-weight: 600;
            color: var(--post-date);
        }
    }

    ul {
        list-style-type: square;
    }

    .snippet {
        position: relative;
    }

    .snippet .copy-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.5rem;
        border: 0.1rem solid #cccccc5c;
        border-radius: 0.5rem;
        background-color: var(--post-bg);
        color: var(--post-title);
        cursor: pointer;
    }

    div.note {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 2px solid var(--note-border);
        border-radius: 5px;
        padding-inline: 1rem;
        border-left-width: 10px;
        background-color: var(--note-bg);
        color: var(--note-text-color);

        & > .info::before {
            content: "ⓘ";
            font-size: 1.5rem;
            color: var(--note-border);
        }
    }
}

.show-progress-bar::before {
    // unless there is some content, the pseudo-element will not be rendered
    content: ".";
    // dont show the content but just the background
    color: transparent;
    display: block;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    // deduct the article right margin from the width
    width: calc(100% - 0.625rem);
    height: 0.25rem;
    background: linear-gradient(90deg, var(--progress-bar) var(--progress), transparent var(--progress));
}