<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css">
		<link rel="preload" as="style" href="/assets/css/style.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ page.excerpt }}">
		<meta property="og:description" content="{{ page.excerpt }}">
		<meta property="og:url" content="{{ site.url }}{{ page.url }}">
		<meta property="og:title" content="{{ page.title }}">
		{% if page.date %}
			<meta property="og:type" content="article">
			<meta property="article:published_time" content="{{ page.date }}">
		{% endif %}
		<link rel="canonical" href="{{ site.url }}{{ page.url }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.1/css/all.min.css">
		<style>
			body {
				background: repeating-linear-gradient(35deg, #263238, #263238 2px, #5588aa1a 0, #5588aa1a 4px);
				background-color: #253237;
			}
		</style>
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>

	<body>
		{% include breadcrumb.html %}
		{% include sidebar.html %}
		<main>
			{{ content }}

			{% include footer.html %}
		</main>
	</body>
</html>
