---
layout: default
---

<link rel="stylesheet" href="/assets/css/prism.css">
<script type="text/javascript" src="/assets/js/prism.js"></script>

<article class="post">
    <header class="post-header">
        <h1>{{ page.title }}</h1>
        <i class="fa-solid fa-calendar-days"></i>
        <time datetime="{{ page.date | date_to_string }}">
            {{ page.date | date_to_string }} - {{ page.author }}
        </time>
    </header>
    <div class="post-content">
        {{ content }}
    </div>

    <script type="module" src="/assets/js/copy-to-clipboard.js"></script>
    <script type="module" src="/assets/js/scroll-progress.js"></script>
        
</article>